In [1]:
import pandas as pd
import requests
from io import StringIO
url = "https://group1-project4-flightdata2023.s3.us-east-2.amazonaws.com/2023.csv"

response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Read the CSV content into a Pandas DataFrame
    pandas2_df = pd.read_csv(StringIO(response.text))
    # Now 'pandas_df' is a Pandas DataFrame
    print(pandas2_df.head())
else:
    print(f"Failed to fetch the CSV file. Status Code: {response.status_code}")

      FL_DATE AIRLINE_CODE  DOT_CODE  FL_NUMBER ORIGIN          ORIGIN_CITY  \
0  2023-06-04           9E     20363       4628    DSM       Des Moines, IA
1  2023-06-01           9E     20363       4628    ROC        Rochester, NY
2  2023-06-02           9E     20363       4628    ROC        Rochester, NY
3  2023-06-01           9E     20363       4629    ITH  Ithaca/Cortland, NY
4  2023-06-02           9E     20363       4629    ITH  Ithaca/Cortland, NY

  DEST     DEST_CITY  CRS_DEP_TIME  DEP_TIME  ...  AIR_TIME  DISTANCE  \
0  LGA  New York, NY          1033    1053.0  ...     134.0    1031.0
1  LGA  New York, NY          1001     956.0  ...      49.0     254.0
2  LGA  New York, NY          1001     956.0  ...      46.0     254.0
3  JFK  New York, NY          1452    1447.0  ...      46.0     189.0
4  JFK  New York, NY          1452    1448.0  ...      46.0     189.0

   DELAY_DUE_CARRIER  DELAY_DUE_WEATHER  DELAY_DUE_NAS  DELAY_DUE_SECURITY  \
0               20.0                0.0            4.0                 0.0
1                NaN                NaN            NaN                 NaN
2                NaN                NaN            NaN                 NaN
3                NaN                NaN            NaN                 NaN
4                NaN                NaN            NaN                 NaN

   DELAY_DUE_LATE_AIRCRAFT  FL_YEAR  FL_MONTH FL_DAY
0                      0.0     2023         6      4
1                      NaN     2023         6      1
2                      NaN     2023         6      2
3                      NaN     2023         6      1
4                      NaN     2023         6      2

[5 rows x 33 columns]

In [2]:
pandas2_df.head()

,FL_DATE,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_TIME,...,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT,FL_YEAR,FL_MONTH,FL_DAY
0,2023-06-04,9E,20363,4628,DSM,"Des Moines, IA",LGA,"New York, NY",1033,1053.0,...,134.0,1031.0,20.0,0.0,4.0,0.0,0.0,2023,6,4
1,2023-06-01,9E,20363,4628,ROC,"Rochester, NY",LGA,"New York, NY",1001,956.0,...,49.0,254.0,NaN,NaN,NaN,NaN,NaN,2023,6,1
2,2023-06-02,9E,20363,4628,ROC,"Rochester, NY",LGA,"New York, NY",1001,956.0,...,46.0,254.0,NaN,NaN,NaN,NaN,NaN,2023,6,2
3,2023-06-01,9E,20363,4629,ITH,"Ithaca/Cortland, NY",JFK,"New York, NY",1452,1447.0,...,46.0,189.0,NaN,NaN,NaN,NaN,NaN,2023,6,1
4,2023-06-02,9E,20363,4629,ITH,"Ithaca/Cortland, NY",JFK,"New York, NY",1452,1448.0,...,46.0,189.0,NaN,NaN,NaN,NaN,NaN,2023,6,2

In [3]:
pandas2_df.isnull().sum()

FL_DATE                          0
AIRLINE_CODE                     0
DOT_CODE                         0
FL_NUMBER                        0
ORIGIN                           0
ORIGIN_CITY                      0
DEST                             0
DEST_CITY                        0
CRS_DEP_TIME                     0
DEP_TIME                     72890
DEP_DELAY                    72920
TAXI_OUT                     75097
WHEELS_OFF                   75097
WHEELS_ON                    76876
TAXI_IN                      76876
CRS_ARR_TIME                     0
ARR_TIME                     76876
ARR_DELAY                    88263
CANCELLED                        0
CANCELLATION_CODE                0
DIVERTED                         0
CRS_ELAPSED_TIME                 5
ELAPSED_TIME                 88263
AIR_TIME                     88263
DISTANCE                         0
DELAY_DUE_CARRIER          3521908
DELAY_DUE_WEATHER          3521908
DELAY_DUE_NAS              3521908
DELAY_DUE_SECURITY         3521908
DELAY_DUE_LATE_AIRCRAFT    3521908
FL_YEAR                          0
FL_MONTH                         0
FL_DAY                           0
dtype: int64

In [4]:
columns_to_drop = ["DEP_TIME", "DEP_DELAY", "TAXI_OUT", "CRS_ELAPSED_TIME", "WHEELS_OFF", "WHEELS_ON", "TAXI_IN", "ARR_TIME", "ARR_DELAY", "ELAPSED_TIME", "AIR_TIME","DELAY_DUE_CARRIER", "DELAY_DUE_WEATHER", "DELAY_DUE_NAS", "DELAY_DUE_SECURITY", "DELAY_DUE_LATE_AIRCRAFT"]
pandas2_df = pandas2_df.drop(columns=columns_to_drop)

In [5]:
pandas2_df.head()

,FL_DATE,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,CRS_ARR_TIME,CANCELLED,CANCELLATION_CODE,DIVERTED,DISTANCE,FL_YEAR,FL_MONTH,FL_DAY
0,2023-06-04,9E,20363,4628,DSM,"Des Moines, IA",LGA,"New York, NY",1033,1415,0.0,Z,0.0,1031.0,2023,6,4
1,2023-06-01,9E,20363,4628,ROC,"Rochester, NY",LGA,"New York, NY",1001,1119,0.0,Z,0.0,254.0,2023,6,1
2,2023-06-02,9E,20363,4628,ROC,"Rochester, NY",LGA,"New York, NY",1001,1119,0.0,Z,0.0,254.0,2023,6,2
3,2023-06-01,9E,20363,4629,ITH,"Ithaca/Cortland, NY",JFK,"New York, NY",1452,1559,0.0,Z,0.0,189.0,2023,6,1
4,2023-06-02,9E,20363,4629,ITH,"Ithaca/Cortland, NY",JFK,"New York, NY",1452,1559,0.0,Z,0.0,189.0,2023,6,2

In [6]:
pandas2_df.isnull().sum()

FL_DATE              0
AIRLINE_CODE         0
DOT_CODE             0
FL_NUMBER            0
ORIGIN               0
ORIGIN_CITY          0
DEST                 0
DEST_CITY            0
CRS_DEP_TIME         0
CRS_ARR_TIME         0
CANCELLED            0
CANCELLATION_CODE    0
DIVERTED             0
DISTANCE             0
FL_YEAR              0
FL_MONTH             0
FL_DAY               0
dtype: int64

In [7]:
# Split the data into X (features) and y (target)
# The y variable should focus on the target column
y = pandas2_df['CANCELLED']

# The X variable should include all features except the target
X = pandas2_df.drop(columns=["CANCELLATION_CODE", "AIRLINE_CODE", "ORIGIN", "ORIGIN_CITY", "DEST", "DEST_CITY", "FL_DATE"])

In [8]:
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

# Split into testing and training sets using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [9]:
scaler = StandardScaler()
x_scaler = scaler.fit(X_train)

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [10]:
# Declare a logistic regression model.
# Apply a random_state of 9 to the model
logistic_regression_model = LogisticRegression(random_state=9, max_iter=1000)

# Fit and save the logistic regression model using the training data
lr_model = logistic_regression_model.fit(X_train_scaled, y_train)

In [11]:
#Generate training predictions
training_predictions = lr_model.predict(X_train_scaled)

#Generate testing predictions
testing_predictions = logistic_regression_model.predict(X_test_scaled)

In [12]:
# Import the model for sklearn confusion matrix
from sklearn.metrics import confusion_matrix

# Create and save the confusion matrix for the training data
training_matrix = confusion_matrix(y_train, training_predictions)

# Print the confusion matrix for the training data
print(training_matrix)

[[3352368       0]
 [      0   56698]]

In [13]:
# Create and save the confusion matrix for the testing data
test_matrix = confusion_matrix(y_test, testing_predictions)

# Print the confusion matrix for the testing data
print(test_matrix)

[[1117438       0]
 [      0   18918]]

In [14]:
# Create and save the training classification report
training_report = classification_report(y_train, training_predictions)

# Print the training classification report
print(training_report)

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00   3352368
         1.0       1.00      1.00      1.00     56698

    accuracy                           1.00   3409066
   macro avg       1.00      1.00      1.00   3409066
weighted avg       1.00      1.00      1.00   3409066

In [15]:
# Create and save the testing classification report
testing_report = classification_report(y_test, testing_predictions)

# Print the testing classification report
print(testing_report)

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00   1117438
         1.0       1.00      1.00      1.00     18918

    accuracy                           1.00   1136356
   macro avg       1.00      1.00      1.00   1136356
weighted avg       1.00      1.00      1.00   1136356