In [1]:
import pandas as pd
import requests
from io import StringIO
url = "https://group1-project4-flightdata2023.s3.us-east-2.amazonaws.com/2023.csv"

response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Read the CSV content into a Pandas DataFrame
    pandas_df = pd.read_csv(StringIO(response.text))
    # Now 'pandas_df' is a Pandas DataFrame
    print(pandas_df.head())
else:
    print(f"Failed to fetch the CSV file. Status Code: {response.status_code}")

      FL_DATE AIRLINE_CODE  DOT_CODE  FL_NUMBER ORIGIN          ORIGIN_CITY  \
0  2023-06-04           9E     20363       4628    DSM       Des Moines, IA
1  2023-06-01           9E     20363       4628    ROC        Rochester, NY
2  2023-06-02           9E     20363       4628    ROC        Rochester, NY
3  2023-06-01           9E     20363       4629    ITH  Ithaca/Cortland, NY
4  2023-06-02           9E     20363       4629    ITH  Ithaca/Cortland, NY

  DEST     DEST_CITY  CRS_DEP_TIME  DEP_TIME  ...  AIR_TIME  DISTANCE  \
0  LGA  New York, NY          1033    1053.0  ...     134.0    1031.0
1  LGA  New York, NY          1001     956.0  ...      49.0     254.0
2  LGA  New York, NY          1001     956.0  ...      46.0     254.0
3  JFK  New York, NY          1452    1447.0  ...      46.0     189.0
4  JFK  New York, NY          1452    1448.0  ...      46.0     189.0

   DELAY_DUE_CARRIER  DELAY_DUE_WEATHER  DELAY_DUE_NAS  DELAY_DUE_SECURITY  \
0               20.0                0.0            4.0                 0.0
1                NaN                NaN            NaN                 NaN
2                NaN                NaN            NaN                 NaN
3                NaN                NaN            NaN                 NaN
4                NaN                NaN            NaN                 NaN

   DELAY_DUE_LATE_AIRCRAFT  FL_YEAR  FL_MONTH FL_DAY
0                      0.0     2023         6      4
1                      NaN     2023         6      1
2                      NaN     2023         6      2
3                      NaN     2023         6      1
4                      NaN     2023         6      2

[5 rows x 33 columns]

In [2]:
import pandas as pd
import requests
from io import StringIO
url = "https://group1-project4-flightdata2023.s3.us-east-2.amazonaws.com/2022.csv"

response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Read the CSV content into a Pandas DataFrame
    pandas2_df = pd.read_csv(StringIO(response.text))
    # Now 'pandas_df' is a Pandas DataFrame
    print(pandas2_df.head())
else:
    print(f"Failed to fetch the CSV file. Status Code: {response.status_code}")

      FL_DATE AIRLINE_CODE  DOT_CODE  FL_NUMBER ORIGIN     ORIGIN_CITY DEST  \
0  2022-05-03           OH     20397       5433    DCA  Washington, DC  ALB
1  2022-05-04           OH     20397       5433    DCA  Washington, DC  ALB
2  2022-05-01           OH     20397       5434    CLT   Charlotte, NC  TLH
3  2022-05-02           OH     20397       5434    CLT   Charlotte, NC  TLH
4  2022-05-03           OH     20397       5434    CLT   Charlotte, NC  TLH

         DEST_CITY  CRS_DEP_TIME  DEP_TIME  ...  AIR_TIME  DISTANCE  \
0       Albany, NY          1010    1018.0  ...      61.0     318.0
1       Albany, NY          1010    1002.0  ...      61.0     318.0
2  Tallahassee, FL          2046    2039.0  ...      57.0     386.0
3  Tallahassee, FL          2046    2036.0  ...      60.0     386.0
4  Tallahassee, FL          2046    2035.0  ...      63.0     386.0

   DELAY_DUE_CARRIER  DELAY_DUE_WEATHER  DELAY_DUE_NAS  DELAY_DUE_SECURITY  \
0                NaN                NaN            NaN                 NaN
1                NaN                NaN            NaN                 NaN
2                NaN                NaN            NaN                 NaN
3                NaN                NaN            NaN                 NaN
4                NaN                NaN            NaN                 NaN

   DELAY_DUE_LATE_AIRCRAFT  FL_YEAR  FL_MONTH FL_DAY
0                      NaN     2022         5      3
1                      NaN     2022         5      4
2                      NaN     2022         5      1
3                      NaN     2022         5      2
4                      NaN     2022         5      3

[5 rows x 33 columns]

In [3]:
combined_df = pd.concat([pandas_df, pandas2_df], ignore_index=True)
combined_df.head()

,FL_DATE,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_TIME,...,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT,FL_YEAR,FL_MONTH,FL_DAY
0,2023-06-04,9E,20363,4628,DSM,"Des Moines, IA",LGA,"New York, NY",1033,1053.0,...,134.0,1031.0,20.0,0.0,4.0,0.0,0.0,2023,6,4
1,2023-06-01,9E,20363,4628,ROC,"Rochester, NY",LGA,"New York, NY",1001,956.0,...,49.0,254.0,NaN,NaN,NaN,NaN,NaN,2023,6,1
2,2023-06-02,9E,20363,4628,ROC,"Rochester, NY",LGA,"New York, NY",1001,956.0,...,46.0,254.0,NaN,NaN,NaN,NaN,NaN,2023,6,2
3,2023-06-01,9E,20363,4629,ITH,"Ithaca/Cortland, NY",JFK,"New York, NY",1452,1447.0,...,46.0,189.0,NaN,NaN,NaN,NaN,NaN,2023,6,1
4,2023-06-02,9E,20363,4629,ITH,"Ithaca/Cortland, NY",JFK,"New York, NY",1452,1448.0,...,46.0,189.0,NaN,NaN,NaN,NaN,NaN,2023,6,2

In [4]:
combined_df.head()

,FL_DATE,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_TIME,...,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT,FL_YEAR,FL_MONTH,FL_DAY
0,2023-06-04,9E,20363,4628,DSM,"Des Moines, IA",LGA,"New York, NY",1033,1053.0,...,134.0,1031.0,20.0,0.0,4.0,0.0,0.0,2023,6,4
1,2023-06-01,9E,20363,4628,ROC,"Rochester, NY",LGA,"New York, NY",1001,956.0,...,49.0,254.0,NaN,NaN,NaN,NaN,NaN,2023,6,1
2,2023-06-02,9E,20363,4628,ROC,"Rochester, NY",LGA,"New York, NY",1001,956.0,...,46.0,254.0,NaN,NaN,NaN,NaN,NaN,2023,6,2
3,2023-06-01,9E,20363,4629,ITH,"Ithaca/Cortland, NY",JFK,"New York, NY",1452,1447.0,...,46.0,189.0,NaN,NaN,NaN,NaN,NaN,2023,6,1
4,2023-06-02,9E,20363,4629,ITH,"Ithaca/Cortland, NY",JFK,"New York, NY",1452,1448.0,...,46.0,189.0,NaN,NaN,NaN,NaN,NaN,2023,6,2

In [5]:
combined_df.isnull().sum()

FL_DATE                          0
AIRLINE_CODE                     0
DOT_CODE                         0
FL_NUMBER                        0
ORIGIN                           0
ORIGIN_CITY                      0
DEST                             0
DEST_CITY                        0
CRS_DEP_TIME                     0
DEP_TIME                    250159
DEP_DELAY                   250268
TAXI_OUT                    255619
WHEELS_OFF                  255619
WHEELS_ON                   259831
TAXI_IN                     259831
CRS_ARR_TIME                     0
ARR_TIME                    259828
ARR_DELAY                   285376
CANCELLED                        0
CANCELLATION_CODE                0
DIVERTED                         0
CRS_ELAPSED_TIME                 5
ELAPSED_TIME                285376
AIR_TIME                    285376
DISTANCE                         0
DELAY_DUE_CARRIER          8874235
DELAY_DUE_WEATHER          8874235
DELAY_DUE_NAS              8874235
DELAY_DUE_SECURITY         8874235
DELAY_DUE_LATE_AIRCRAFT    8874235
FL_YEAR                          0
FL_MONTH                         0
FL_DAY                           0
dtype: int64

In [6]:
columns_to_drop = ["DEP_TIME", "DEP_DELAY", "TAXI_OUT", "CRS_ELAPSED_TIME", "WHEELS_OFF", "WHEELS_ON", "TAXI_IN", "ARR_TIME", "ARR_DELAY", "ELAPSED_TIME", "AIR_TIME","DELAY_DUE_CARRIER", "DELAY_DUE_WEATHER", "DELAY_DUE_NAS", "DELAY_DUE_SECURITY", "DELAY_DUE_LATE_AIRCRAFT"]
combined_df = combined_df.drop(columns=columns_to_drop)

In [7]:
combined_df.head()

,FL_DATE,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,CRS_ARR_TIME,CANCELLED,CANCELLATION_CODE,DIVERTED,DISTANCE,FL_YEAR,FL_MONTH,FL_DAY
0,2023-06-04,9E,20363,4628,DSM,"Des Moines, IA",LGA,"New York, NY",1033,1415,0.0,Z,0.0,1031.0,2023,6,4
1,2023-06-01,9E,20363,4628,ROC,"Rochester, NY",LGA,"New York, NY",1001,1119,0.0,Z,0.0,254.0,2023,6,1
2,2023-06-02,9E,20363,4628,ROC,"Rochester, NY",LGA,"New York, NY",1001,1119,0.0,Z,0.0,254.0,2023,6,2
3,2023-06-01,9E,20363,4629,ITH,"Ithaca/Cortland, NY",JFK,"New York, NY",1452,1559,0.0,Z,0.0,189.0,2023,6,1
4,2023-06-02,9E,20363,4629,ITH,"Ithaca/Cortland, NY",JFK,"New York, NY",1452,1559,0.0,Z,0.0,189.0,2023,6,2

In [8]:
combined_df.isnull().sum()

FL_DATE              0
AIRLINE_CODE         0
DOT_CODE             0
FL_NUMBER            0
ORIGIN               0
ORIGIN_CITY          0
DEST                 0
DEST_CITY            0
CRS_DEP_TIME         0
CRS_ARR_TIME         0
CANCELLED            0
CANCELLATION_CODE    0
DIVERTED             0
DISTANCE             0
FL_YEAR              0
FL_MONTH             0
FL_DAY               0
dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

# Split the data into X (features) and y (target)
# The y variable should focus on the target column
y = combined_df['CANCELLED']

# The X variable should include all features except the target
X = combined_df.drop(columns=["CANCELLATION_CODE", "AIRLINE_CODE", "ORIGIN", "ORIGIN_CITY", "DEST", "DEST_CITY", "FL_DATE"])

In [11]:
# Split into testing and training sets using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
# Initialize the Random Forest Classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

In [13]:
# Fit the model on the training data
rf_classifier.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = rf_classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
classification_report_result = classification_report(y_test, y_pred)

# Print the results
print(f"Accuracy: {accuracy}")
print("Classification Report:\n", classification_report_result)

Accuracy: 1.0
Classification Report:
               precision    recall  f1-score   support

         0.0       1.00      1.00      1.00   2203209
         1.0       1.00      1.00      1.00     51701

    accuracy                           1.00   2254910
   macro avg       1.00      1.00      1.00   2254910
weighted avg       1.00      1.00      1.00   2254910